<%= form_with(model: @task, local: true) do |form| %>
<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <label><%= t('view.name') %></label>
    <%= form.text_field :name , id: 'Name' %>
  </div>
  <div class="task_content">
    <label><%= t('view.content') %></label>
    <%= form.text_field :content , id: 'Content' %>
  </div>
  <div class="task_expiration_date">
    <label><%= t('view.expiration_date') %></label>
    <%= form.date_field :expiration_date %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'タスク一覧画面に戻る', tasks_path %>
