<h1>タスク一覧</h1>

  <%= form_with(model: @task, url:tasks_path, method: :get, local: true) do |form| %>
    <%= form.label :title_search, "タイトル検索"%>
    <%= form.text_field :name,id: 'Title' %>
    <%= form.label :status_search, "状態検索"%>
    <%= form.select :state , ["未着手", "着手中" ,"完了"] , :prompt => "",id: 'State'%>
    <%= form.label :tag_search, "タグ検索"%>
    <%= form.select("tag_id", Tag.pluck(:title, :id), { include_blank: '選択してください' },id: 'Tag') %>
    <%= form.hidden_field :search, value:'true' %>
    <%= form.submit('検索する') %>
<%end%>

<table class = "task_table" >
  <tr>
    <th> ユーザー名</th>
    <th><%= t('view.name') %></th>
    <th><%= t('view.content') %></th>
    <th>作成日</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.user.name %></td>
    <td><%= task.name %></td>
    <td id = Content><%= task.content %></td>
    <td><%= simple_time(task.created_at) %></td>
    <td><%= simple_time(task.expiration_date) %></td>
    <td><%= task.state %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id), class: 'btn btn-default' %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class: 'btn btn-default' %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete , class: 'btn btn-default', data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>
<%= paginate @tasks %>

<br>

<%= link_to '新しくタスクを投稿する', new_task_path, class: 'btn btn-info'  %>
<%= link_to '新しくタグを追加する', new_tag_path, class: 'btn btn-info'  %>
<%= link_to "作成日時順にする", tasks_path(sort_created: "true"), class: 'btn btn-info'  %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: 'btn btn-info'  %>
<%= link_to "優先度でソートする", tasks_path(priority: "true"), class: 'btn btn-info'  %>
