<h1>管理画面のユーザーの編集</h1>

<%= form_with(model: @user, url: admin_user_path, local: true) do |f| %>
  <div class='name'>
    <%= f.label :name %>
    <%= f.text_field :name, id: 'Name' %>
  </div>

  <div class='email'>
    <%= f.label :email %>
    <%= f.email_field :email, id: 'Email' %>
  </div>

  <div class='password'>
    <%= f.label :password %>
    <%= f.password_field :password,id: 'Password' %>
  </div>

  <div class='password_confirmation'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,id: 'Password_confirmation' %>
  </div>

  <div class='admin_grant'>
    <%= f.label :管理者権限の付与 %>
    <%= f.check_box :admin ,id: 'Admin_grant_checkbox', :as => :boolean %>
  </div>

  <%= f.submit "更新" %>
  <% end %>

<%= link_to '管理画面に戻る', admin_users_path %>
